    <h2>The Chat Room</h2>
    <div id="chat-box">
    </div>
    
    <form id="chat-form">
      <textarea placeholder="Your comment" id="user-msg"></textarea>
      <button type="submit">Post</button>
    </form>